<section>
  <div class="stats">
    <ul>
      <% @rounds.each do |round| %>
        <li>Deck: <%= round.deck.name %>  Correct: <%= round.correct %>    Incorrect: <%= round.incorrect %> </li>
      <% end %>
    </ul>
  </div>
</section>

