<section>
  <div class="card">
    <p><%= @card.question %></p>
    <form action='/cards/<%= @card.id %>' method='post'>
      <label for='guess'>
      <input type="text" name='guess'>
      </label>

      <input type='submit' value='Submit'>
    </form>        
      
  </div>
</section>