<span class="correct">
  Sorry your guess: <span class="guessed_answer"><%= @guess %></span> was incorrect :/
  <a href="http://lmgtfy.com/?q=<%= @card.answer %>">Click here to learn more!</a>
</span>