<!--   <form action="/signup" method="post">
    Name: <input type="text" name="username"><br />
    Email: <input type="text" name="email"><br />
    Password: <input type="password" name="password"><br />
    <input type="submit" value="Create">
  </form>


  .label {
    float: left;
    width: 150px;
  }
  .input {
    margin-left: 160px;
  } -->
  <div id="signup" class="sticky">
    <form action="/signup" method="post">
      <div>
        <div class="label">Name:</div>
        <div class="input"><input type="text" name="username"></div>
      </div>
      <div>
        <div class="label">Email:</div>
        <div class="input"><input type="text" name="email"></div>
      </div>
      <div>
        <div class="label">Password:</div>
        <div class="input"><input type="text" name="password"></div>
      </div>
      <div>
        <input type="submit" value="Create">
      </div>
    </form>
  </div>